#Lab1
Lab1/.idea/
Lab1/project/
Lab1/target/
#Lab2
Lab2/.idea/
Lab2/project/
Lab2/target/
#Lab3
Lab3/.idea/
Lab3/project/
Lab3/target/
#Lab4
Lab4/.idea/
Lab4/project/
Lab4/target/
#Lab5
Lab5/.idea/
Lab5/project/
Lab5/target/
